    <lib dir="/opt/solr-8.10.1/contrib/ltr/lib/" regex=".*\.jar" />
    <lib dir="/opt/solr-8.10.1/dist/" regex="solr-ltr-\d.*\.jar" />
    <lib dir="/opt/solr-8.10.1/contrib/analysis-extras/lucene-libs" regex=".*\.jar" />
    <lib dir="/opt/solr-8.10.1/contrib/analysis-extras/lib" regex=".*\.jar"/>
    <lib path="/opt/solr-8.10.1/dist/solr-analysis-extras-8.10.1.jar"/>
    <queryParser name="ltr" class="org.apache.solr.ltr.search.LTRQParserPlugin"/>

    <cache name="QUERY_DOC_FV"
          class="solr.search.LRUCache"
          size="4096"
          initialSize="2048"
          autowarmCount="4096"
          regenerator="solr.search.NoOpRegenerator" />

    <transformer name="features" class="org.apache.solr.ltr.response.transform.LTRFeatureLoggerTransformerFactory">
      <str name="fvCacheName">QUERY_DOC_FV</str>
    </transformer>