<div class="mainpage" style="height: 280px; background-image: url('https://i.pinimg.com/originals/e9/93/ba/e993ba826dd8f51134d509122d4fd059.gif'); background-size: contain;">
    <div class="search-form d-flex flex-column align-items-center">
        <div class="mainpage-message fs-3 mt-5 text-light fw-bold">
            In the mood for movies? Search for the perfect choice!
        </div>
        <form class="search-form d-flex w-50 my-5" action="search" method = "GET">
            <input class="form-control border-dark" style="border-top-right-radius:0; border-bottom-right-radius: 0;" type="search" placeholder="What movie are you looking for?" name="query" aria-label="Search">
            <button class="btn btn-dark" style="border-top-left-radius:0; border-bottom-left-radius: 0;" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                width="24" height="24"
                viewBox="0 0 172 172"
                style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M64.5,14.33333c-27.6214,0 -50.16667,22.54527 -50.16667,50.16667c0,27.6214 22.54527,50.16667 50.16667,50.16667c12.52732,0 23.97256,-4.67249 32.7819,-12.31771l3.05143,3.05143v9.26628l43,43l14.33333,-14.33333l-43,-43h-9.26628l-3.05143,-3.05143c7.64521,-8.80934 12.31771,-20.25458 12.31771,-32.7819c0,-27.6214 -22.54527,-50.16667 -50.16667,-50.16667zM64.5,28.66667c19.87509,0 35.83333,15.95824 35.83333,35.83333c0,19.87509 -15.95825,35.83333 -35.83333,35.83333c-19.87509,0 -35.83333,-15.95825 -35.83333,-35.83333c0,-19.87509 15.95824,-35.83333 35.83333,-35.83333z"></path></g></g></svg>
            </button>
        </form>
    </div>
</div>
<div class="search-results mt-4">
    <% if (locals.data) { %>
    <div class="search-results-title-text fs-3 d-flex justify-content-center fw-bold">
        Search results for "<%= data.userQuery %>"
    </div>
    <div class="search-results-movies container">
        <div class="row">
            <% data.movies.forEach(function(movie) { %>
                <%- include('_movie', {movie: movie}); %>
            <% }) %>
        </div>
    </div>    
    <% } %>
</div>